#
SUI_CHAIN=devnet
SUI_ADDRESS=
SUI_SECRET_KEY=
SILVANA_REGISTRY_PACKAGE=
SILVANA_REGISTRY=
APP_PACKAGE_ID=

# Mina
MINA_PRIVATE_KEY=
MINA_PUBLIC_KEY=
MINA_APP_ADMIN=
MINA_APP_ADMIN_PRIVATE_KEY=

# Docker
DOCKER_USERNAME=
DOCKER_PASSWORD=
IMAGE_NAME=add
DOCKER_ACCESS_TOKEN=
DOCKER_IMAGE=docker.io/dfstio/add:latest